.leaflet-iconLayers {
    pointer-events: none;
}

.leaflet-iconLayers-layersRow { display: table; pointer-events: auto; }
.leaflet-iconLayers-layerCell { display: table-cell; padding: 2px; }

.leaflet-iconLayers-layer {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #000;
}

.leaflet-iconLayers-layerTitleContainer {
    display: table;
    width: 100%;
    background: rgba(255,255,255,0.6);
    height: 25%;
    padding: 0;
    border: 0;
    position: absolute;
    bottom: 0%;
    transition: bottom .35s ease;
    /* bottom: -25%; */
}

.leaflet-iconLayers-layerCheckIcon {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    top: 45%;
    margin-top: -10px;
    right: 50%;
    margin-right: -10px;
    opacity: .95;
    background: url('check.png');
}

.leaflet-iconLayers-layerTitle {
    display: table-cell;
    vertical-align: middle;
}

.leaflet-iconLayers-layerShutter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('stroke.png');
    opacity: .35;
    display: none;
}

.leaflet-iconLayers-layer_hidden { display: none; }
.leaflet-iconLayers-layer_disabled .leaflet-iconLayers-layerShutter { display: block; }
.leaflet-iconLayers-layer_active .leaflet-iconLayers-layerCheckIcon { display: block; }

/* .leaflet-iconLayers_topleft .leaflet-iconLayers-layer { margin-right: 4px; }
.leaflet-iconLayers_topright .leaflet-iconLayers-layer { margin-left: 4px; }
.leaflet-iconLayers_bottomleft .leaflet-iconLayers-layer { margin-right: 4px; }
.leaflet-iconLayers_bottomright .leaflet-iconLayers-layer { margin-left: 4px; } */